body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 0px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .status {
    margin-bottom: 10px;
    margin-left: 5px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 60px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 60px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .game {
    padding-bottom: 30px;
  }

  .game-info {
    margin-left: 20px;
    font-size: 20px;
  }

.btn {
  margin: 5px;
}

.container {
  border: 2px solid green;
  border-radius: 8px;
  width: 60%;
  height: 650px;
}

h1 {
  margin: 30px 0px 25px;
  text-align: center;
}